.project-container .layout-section {
    margin: var(--spacing-lg) 0;
}


.project-container .layout-column {
    min-width: 180px;
}

.background-project {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .2;
    height: 100%;
    width: 100%;
    z-index: -1;
    display: flex;
    flex-direction: column;
}

    