.today-content {
    margin-top: var(--spacing-lg);
}
.today-post {
    width: 100%;
}
.today-content table {
    border-collapse: collapse;
    border-radius: var(--border-radius);
    border-style: hidden; 
    box-shadow: 0 0 0 1px var(--border-color); 
    overflow: hidden;
}
.today-content tr {
    border-bottom: 1px solid var(--border-color);
  }

.today-content tr td:first-child {
    border-right: 1px solid var(--border-color);
}
.today-content tr:last-child {
    margin-bottom: -1px;
}
.today-post h3 {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
    display: block;
    line-height: 1.6;
}
.today-post {
    width: 100%;
    border-radius: var(--border-radius);
    position: relative;
}
.today-post tr {
    display: grid;
    grid-template-columns: minmax(140px, auto) 1fr ;

}

.today-post td {
    padding: var(--spacing-sm);
    padding-bottom: 14px;
}

.today-post td:first-child {
    background-color: var(--border-);
}

.today-post p {
    color: var(--secondary-color);
}

/* START PAGE */
.today-start {
    margin-bottom: var(--spacing-md);
}
.today-start p {
    color: var(--secondary-color);
}
.today-wrapper {
    position: relative;
}
.today-wrapper::after {
    content: none;
    background: var(--fade-out);
    z-index: 10;
    width: calc(100% + 20px);
    position: absolute;
    bottom: -10px;
    left: -10px;
    right: -10px;
    height: 72%;
    border-radius: var(--border-radius);
}
.today-content .link-wrapper {
    margin-top: var(--spacing-md);
}
